:root {
  --red: #9A2408;
  --dark-red: #7d1f07;
  --gray: #d7d7d7;
  --white: #f8f8f1
}

body {
  background-color: var(--white);
  min-width: 450px;
  margin: 3rem 0 0 0;
  padding: 0;
  font-family: "Quattrocento", serif;
  font-size: 1.2rem;
}

h1 {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  font-family: "DM Serif Display", serif;
  font-size: 2rem;
  letter-spacing: 1px;
}

@media (max-width: 480px) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 1.8rem;
  }

  p {
    font-size: 1.5rem;
  }
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 0 0 0;
  width: 100%;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.col {
  display: flex;
  flex-direction: column;
}

@media (max-width: 480px) {
  .col {
    gap: 0.75rem
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 480px) {
  #about-section {
    height: 50vh;
    justify-content: center;
  }

  .logo {
    min-width: 50%;
    margin-bottom: 1rem;
  }
}

.info {
  width: 80%;
  text-align: center;
}

.logo {
  max-width: 15%;
}

.stats-container {
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
  width: 80%;
  margin-top: 0.5em;
}

@media (max-width: 800px) {
  .stats-container {
    flex-wrap: wrap;
    gap: 0.5em;
  }
}

button:hover,
.restaurant-card:hover {
  cursor: pointer;
  outline: 3px solid var(--red);
}

.stats-card {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  background-color: var(--gray);
  border-radius: 7px;
  padding: 3%;
  margin: 1%;
  width: 100%;
  text-align: center;
}

.stats-card h3 {
  margin-block-start: 0;
  margin-block-end: 0.4rem;
}

.stats-card p {
  margin: 0;
}

#num-restaurants,
#total-visited {
  font-size: 3rem !important;
}

#most-visited {
  font-size: 2rem !important;
  line-height: 1.3em;
}



/* -------------------------------------------------- */
/*                    Filtering Form                  */
/* -------------------------------------------------- */

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: right;
  margin: 1rem 0;
  width: 75%;
}

.search > label {
  padding: 0 0.5rem 0 0;
}

.filter-col {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 80%;
}

input[type="text"] {
  border-radius: 5px;
  padding: 0.75rem;
  margin-right: 0.25rem;
  width: 60%;
  font-family: "Quattrocento", serif;
  font-size: 1.2rem;
}

#filters-form {
  width: 80%;
  margin-top: 1rem;
}

fieldset {
  display: flex;
  flex-direction: column;
  align-items: center;
}

legend {
  font-size: 1.7rem;
  font-weight: bold;
}

fieldset > label {
  margin: 0 1rem;
}

input[type="radio"],
input[type="checkbox"],
input[type="range"] {
  accent-color: var(--red);
}

@media (max-width: 480px) {
  .search {
    width: 80%;
    flex-direction: column;
  }

  .search > label {
    padding: 0 0 0.5rem 0;
  }

  .filter-col {
    flex-direction: column;
    gap: 1em;
  }

  fieldset > label {
    line-height: 3rem;
  }

  input[type="radio"],
  input[type="checkbox"] {
    transform: scale(2);
    margin-right: 1rem;
  }

  input[type="range"] {
    width: 50%;
    height: 2rem;
    transform: scale(2);
  }

  #location label {
    margin-left: 1rem;
  }
}

#minutes-label {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.category-title {
  margin: 0;
  font-weight: bold;
  font-size: 1.45rem;
}

input[type="submit"] {
  font-family: "Quattrocento", serif;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--white);
  background-color: var(--red);
  border: none;
  padding: 2% 8%;
  margin: 1%;
  border-radius: 7px;
}

input[type="submit"]:hover {
  cursor: pointer;
  background-color: var(--dark-red);
}

@media (max-width: 480px) {
  input[type="submit"] {
    padding: 4% 8%;
  }
}



/* -------------------------------------------------- */
/*                   Restaurants List                 */
/* -------------------------------------------------- */

#restaurants-container {
  background-color: var(--gray);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 3rem 0;
  width: 100%;
}

.visited {
  background-color: var(--white) !important;
}

.restaurant-card {
  background-color: var(--white);
  padding: 2%;
  margin: 1%;
  width: 300px;
  text-align: center;
  border-radius: 7px;
  position: relative;
  display: flex;
  justify-content: center;
}

.restaurant-link {
  text-decoration: none;
  color: #000 !important;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.restaurant-link b {
  font-family: "DM Serif Display", serif;
  font-size: 1.4rem;
  letter-spacing: 1px;
  width: 80%;
  display: block;
}

.restaurant-price {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
}

/* dark gray  --> #758190 */
/* light gray --> #a8b0bc */
/* white      --> #e4e3dd */
